/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#border1 {
	-fx-background-color: #b39f7a;
}
#border2 {
	-fx-background-color: #b39f7a;
}
#border3 {
	-fx-background-color: #b39f7a;
}
#border4 {
	-fx-background-color: #b39f7a;
}
#border5 {
	-fx-background-color: #b39f7a;
}
#border6 {
	-fx-background-color: #b39f7a;
}
#border7 {
	-fx-background-color: #b39f7a;
}
#border8 {
	-fx-background-color: #b39f7a;
}
#border9 {
	-fx-background-color: #b39f7a;
}
#border10 {
	-fx-background-color: #b39f7a;
}
#border11 {
	-fx-background-color: #b39f7a;
}