/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#border1 {
	-fx-background-color: #776544;
}
#border2 {
	-fx-background-color: #776544;
}
#border3 {
	-fx-background-color: #776544;
}
#border4 {
	-fx-background-color: #776544;
}
#border5 {
	-fx-background-color: #776544;
}
#border6 {
	-fx-background-color: #776544;
}
#border7 {
	-fx-background-color: #776544;
}
#border8 {
	-fx-background-color: #776544;
}
#border9 {
	-fx-background-color: #776544;
}
#border10 {
	-fx-background-color: #776544;
}
#border11 {
	-fx-background-color: #776544;
}
#border12 {
	-fx-background-color: #776544;
}
#border1:hover {
	
	-fx-cursor: n-resize;
}
#border2:hover {
	
	-fx-cursor: n-resize;
}
#border3:hover {
	
	-fx-cursor: nw-resize;
}
#border4:hover {
	
	-fx-cursor: w-resize;
}
#border6:hover {
	
	-fx-cursor: e-resize;
}
#border7:hover {
	
	-fx-cursor: w-resize;
}
#border8:hover {
	
	-fx-cursor: e-resize;
}
#border9:hover {
	
	-fx-cursor: sw-resize;
}
#border10:hover {
	
	-fx-cursor: s-resize;
}
#border11:hover {
	
	-fx-cursor: se-resize;
}
#border12:hover {
	
	-fx-cursor: ne-resize;
}
#btnClose{
	-fx-background-color: #776544;
}
#btnFull{
	-fx-background-color: #776544;
}
#btnHide{
	-fx-background-color: #776544;
}
#btnClose:hover {
	-fx-background-color: red;
}
#btnFull:hover {
	-fx-background-color: #b39f7a;
}
#btnHide:hover {
	-fx-background-color: #b39f7a;
}
#bf1 {
	-fx-background-color: #ffdfa3;
}
#st1 {
	-fx-background-color: #776544;
}
#st1:hover {
	-fx-background-color: #b39f7a;
}
#bf3 {
	-fx-background-color: #ffdfa3;
}
#bt1 {
	-fx-background-color: #776544;
}
#bt2 {
	-fx-background-color: #776544;
}
#bt3 {
	-fx-background-color: #776544;
}
#bt11 {
	-fx-background-color: #776544;
}
#bt21 {
	-fx-background-color: #776544;
}
#bt31 {
	-fx-background-color: #776544;
}
#bt1:hover {
	-fx-background-color: #b39f7a;
}
#bt2:hover {
	-fx-background-color: #b39f7a;
}
#bt3:hover {
	-fx-background-color: #b39f7a;
}
#bt11:hover {
	-fx-background-color: #b39f7a;
}
#bt21:hover {
	-fx-background-color: #b39f7a;
}
#bt31:hover {
	-fx-background-color: #b39f7a;
}
#bf31 {
	-fx-background-color: #ffdfa3;
}
#st2 {
	-fx-background-color: #ffdfa3;
}
#st3 {
	-fx-background-color: #ffdfa3;
}
#answerField {
	-fx-focus-color: #553700;
	-fx-faint-focus-color: transparent; 
}
#draftArea {
	-fx-focus-color: #553700;
	-fx-faint-focus-color: transparent;
}
#mode_button {
	-fx-background-color: #776544;
	-fx-border-color: #ffdfa3;
    -fx-border-width: 4px;
}
#mode_button:hover {
	-fx-background-color: #b39f7a;
	-fx-border-color: #ffdfa3;
    -fx-border-width: 4px;
}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #776544; /* Цвет вертикального ползунка */
    -fx-background-radius: 5; /* Закругленные края ползунка */
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #776544; /* Цвет горизонтального ползунка */
    -fx-background-radius: 5; /* Закругленные края ползунка */
}
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: #ffdfa3; /* Цвет вертикального трека */
    -fx-background-radius: 5; /* Закругленные края трека */
}

.scroll-pane .scroll-bar:horizontal .track {
    -fx-background-color: #ffdfa3; /* Цвет горизонтального трека */
    -fx-background-radius: 5; /* Закругленные края трека */
}
.scroll-pane .scroll-bar .increment-button, 
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: #ffdfa3; /* Цвет кнопок (если они есть) */
}
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #b0bec5; /* Цвет кнопок прокрутки (вверх/вниз) */
}

.scroll-pane .scroll-bar:horizontal .increment-arrow,
.scroll-pane .scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #b0bec5; /* Цвет кнопок прокрутки (влево/вправо) */
}
